*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5em;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 100%;
}
.continer{
    position: relative;
}

h2{
    
    font-size: 13%;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    width : 80px;
    height: 25px;
    position: absolute;
    top : -1px;
    right: -1px;
    border: 1px solid black;
    text-align: center;
    padding: 6px 4px 4px 4px;
}


.box{
    float: left;
    border: 2px solid black;
    position: relative;
    padding : 35px 3px 3px 3px;
    margin: 1%;
    background-color: rgb(153, 153, 153);
    width : 31%;
}
#beef{
    
    background-color: red;
    color:white;
} 
#sushi{
    background-color: yellow;
    
}
#chic{
    background-color: pink;
}
@media (max-width : 767px) {
    .box{
        width : 100%;
    }
    .heading{
        left:80.75%;
    }
}
p{
    font-size: 15%;
}

@media (min-width: 768px) and (max-width : 991px) {
    #box1, #box2{
        width : 48%;
        
    }
    #box3 {
        width: 98%

    }
    #box3 .heading{
        width: 10%;
        left: 90.75%;
    }

    
}